.header {
  background: #cdcdcd;
  padding: 1rem;
}
.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-up-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  filter: saturate(50%);
  opacity: 0.9;
}
.scroll-up-btn:hover {
  filter: saturate(100%);
  opacity: 1;
}
.footer {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
